
      
      
      
      <div  class="modal-header">
            <h3 class="modal-title" id="modal-title">Confirm Delete</h3>
        </div>
        <div     class="modal-body" ng-controller="editData-ctrl" style = "overflow-x: auto; position: relative; overflow-y: auto;" id="modal-body">
            
            <div  class="container" style="width: 300px">
                <div class="row">
                <div  class="col-sm">

                   Are you sure you want to delete?

                   
                      </div>
                     
                 



                  





  
                   
                </div>
                </div>
            </div>
            
            <div class="modal-footer">
              <!-- <button class="btn btn-success" type="button" ng-click="pc.ok()">OK</button> -->
              <button class="btn btn-info" type="button" ng-click="confirmstationDelete()" >Yes</button>
                <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
            </div>
       
