
  
       <div  class="modal-header">
            <h3 class="modal-title" id="modal-title">Details</h3>
        </div>
        <div     class="modal-body" ng-controller="dashboard-ctrl" style = "overflow-x: auto; position: relative; overflow-y: auto;" id="modal-body">
            
            <div  class="container" style="margin-left:5px;margin-right:5px; width: 1300px" >
                <div class="row">
                <div  class="col-sm">

                    <table  style="width: 1300px"  st-table="entries" st-safe-src="rowCollection" style="margin : 0px;color: black" class="table">
                      <div style=" color:blue; ">
                        Audit Done: {{detailsmodaldata.auditType}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Year: {{detailsmodaldata.year}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Station: {{detailsmodaldata.station}}
                        
                    </div>
                      
                      
                      <thead>
                           
                            <tr>
                              
                                <th>Sr. no</th>
                                <th >Sub-station</th>
                                <th >General Observations</th>
                                <th >Recommendations</th>
                                <th >Target Date</th>
                               <th >Current Status</th>
                                <th  >Action taken</th>
                                <th >Compliance Status</th>
                                <th >Action taken by</th>
                                <th >Remarks</th>
                                <th> Files Uploaded</th>
                              <th>Actions</th>
                            
                             
                              
                                   </tr>
                                  
                         
                      </thead>
                      <tbody>

                        <tr ng-repeat="data in entries  track by $index" class="editable-row">
                          
                          

                        <!-- <div style=" color:blue; ">
                          {{detailsmodaldata.auditType}}-{{detailsmodaldata.year}}-{{detailsmodaldata.station}}-{{detailsmodaldata.subStation}}
                      </div> -->
                      <td> {{((current_page-1)*page_size1)+$index+1 }}</td>

                      <td >

                        {{ data.subStation || '-' }}

                      </td>




                    <td>    
                        
                      <span></span>
                      {{ data.generalObservations || '-' }}
                     
                    </td>
                    <td>    
                      
                      {{ data.recommendations || '-' }}
                      
                    </td>
                    <td>    
                      
                      {{ data.targetDate || '-' }}
                     
                    </td>
                    <td>    
                      <span editable-text="data.currentStatus" e-name="currentStatus" e-form="rowform" ng-required="data.currentStatus" >
                      {{ data.currentStatus || '-' }}
                    </span>
                    </td>
                    <td>    
                      <span  editable-text="data.actionTaken"  e-name="actionTaken" e-form="rowform" e-required>
                      {{ data.actionTaken || '-' }}
                    </span>
                    </td>
                    <td  class="select-td">    
                      <span  editable-select="data.complianceStatus" e-name="complianceStatus" e-form="rowform" e-selectpicker e-ng-options="complianceStatus.complianceStatus for complianceStatus in complianceStatus" e-required>
                      {{ data.complianceStatus || '-' }}
                    </span>
                    </td>
                    <td>    
                      <span editable-text="data.actionTakenBy" e-name="actionTakenBy" e-form="rowform" e-required>
                      {{ data.actionTakenBy || '-' }}
                    </span>
                    </td>
                    <td>    
                      <span editable-text="data.remarks" e-name="remarks" e-form="rowform" e-required>
                      {{ data.remarks || '-' }}
                    </span>
                    </td>
                    <td>
                      <span ng-show="data.image">
                      <a href="./assets/uploads/{{data.image}}" target="_blank">Open file</a>
                    </span>
                    <span ng-show="!data.image">
                        No file uploaded.
                      </span>
                    </td>
                    <td>
                      <form editable-form name="rowform" onaftersave = "editEntriesOldData(data, ((current_page-1)*page_size1)+$index)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == data">
                        <button type="submit"  ng-disabled="rowform.$invalid" class="btn btn-success editable-table-button btn-xs">
                          Save
                        </button>
                        <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-warning editable-table-button btn-xs">
                          Cancel
                        </button>
                      </form>
                      <div class="buttons" ng-show="!rowform.$visible">
                        <button class="btn btn-info editable-table-button btn-xs" ng-click="rowform.$show(); editEntiresStart(data)">Edit</button>
                        <!-- <button class="btn btn-danger editable-table-button btn-xs" ng-click="
                        
                        
                        editSubStationData(data,((current_page-1)*page_size)+$index,1);">Delete</button> -->
                      </div>
                    </td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="13" class="text-center">
                      <div st-pagination="" st-items-by-page="page_size1" st-page-change="rembemberCurrentPage(newPage)" st-displayed-pages="100"></div>
                    </td>
                  </tr>
                  </tfoot>   
</table>
                   
                      </div>
                     
                 



                  





  
                   
                </div>
                </div>
            </div>
            
            <div class="modal-footer">
              <!-- <button class="btn btn-success" type="button" ng-click="pc.ok()">OK</button> -->
                <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
            </div>
       
         
   